@model IEnumerable<Retail.Web.Models.Incident>

@{
    ViewBag.Title = "Incidents";
}

<div class="">
    <p class="pull-right">
        <a role="button" class="btn btn-success" href="@Url.Action("Create")"><i class="fa fa-plus"></i> Create New</a>
    </p>
    <h2>Incidents</h2>
</div>

@Html.Partial("_Table", Model)
