@model IEnumerable<Retail.Web.Models.Customer>

@{
    ViewBag.Title = "Customers";
}


<div class="">
    <p class="pull-right">
        <a role="button" class="btn btn-success" href="@Url.Action("Create")"><i class="fa fa-plus"></i> Create New</a>
    </p>
    <h2>Customers</h2>
</div>

@Html.Partial("_Table", Model)
